<mat-card class="example1">
<div class="row">

<div class="col-md-4">
<mat-card>
     <h4><i class="material-icons"> spa</i>Magath Tour & Travels</h4>
</mat-card>
</div>

<div class="col-md-2">
   <mat-card>
        <h4><i class="material-icons"> access_alarms </i>24*7 Supports</h4> 
</mat-card> 
</div>

<div class="col-md-2">
        <mat-card>
      <h4> <i class="material-icons"> location_city</i>My Trips</h4>
            </mat-card> 
</div>


<div class="col-md-4">
        <mat-card>
            <h4><i class="material-icons"> airline_seat_recline_normal </i> Login And Creat Account</h4>
            </mat-card> 
</div>

</div>

</mat-card>
