.example1{
    
    background: radial-gradient(darkcyan, #a429e280);
}


mat-card{
    background: -webkit-linear-gradient(0deg, #d46ec3 0%, #01034d 100%);
    text-align: center;
    color: azure;
}


h4{
    
    font-size: 17px;
}