<div id="my-content">
     <mat-card class="examp1"> 
    <button mat-button routerLink="home"> <mat-icon>dialpad</mat-icon><br>Home</button>
    <button mat-button routerLink="flight"><i class="material-icons">flight </i><br>Flight</button>
    <button mat-button routerLink=""><i class="material-icons"> hotel </i><br>Hotel</button>
    <button mat-button routerLink=""><i class="material-icons">rowing </i><br>Holidays</button>
    <button mat-button routerLink=""><i class="material-icons"> directions_railway </i><br>Trains</button>
    <button mat-button routerLink=""><i class="material-icons">directions_bus </i><br>Buses</button>
    <button mat-button routerLink=""><i class="material-icons">directions_car </i><br>Cabs</button>
    <button mat-button routerLink=""><i class="material-icons"> assignment</i><br>Visa</button>
    <button mat-button routerLink=""><i class="material-icons"> store_mall_directory</i><br>Home & Villas</button>
    <button mat-button routerLink=""><i class="material-icons"> event_note</i><br>Giftcards</button>
</mat-card>
    </div>